@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Nunito", helvetica sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000;
  transition: 0.5s ease;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #01b3a7;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row > * {
  max-width: 100%;
  width: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 48rem) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 72rem) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 96rem) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}
.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--block {
  display: block;
}

.text--primary {
  color: #01b3a7;
}

.bg--primary {
  background-color: #01b3a7;
}

.text--secondary {
  color: #50ba70;
}

.bg--secondary {
  background-color: #50ba70;
}

.text--gray {
  color: #fff;
}

.bg--gray {
  background-color: #fff;
}

.text--light {
  color: #000;
}

.bg--light {
  background-color: #000;
}

.text--dark {
  color: #f4f4f4;
}

.bg--dark {
  background-color: #f4f4f4;
}

.mb--1 {
  margin-bottom: 1rem;
}

.gap--1 {
  gap: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.mb--2 {
  margin-bottom: 2rem;
}

.gap--2 {
  gap: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.mb--3 {
  margin-bottom: 3rem;
}

.gap--3 {
  gap: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.mb--4 {
  margin-bottom: 4rem;
}

.gap--4 {
  gap: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.mb--5 {
  margin-bottom: 5rem;
}

.gap--5 {
  gap: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.mb--6 {
  margin-bottom: 6rem;
}

.gap--6 {
  gap: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.justify--start {
  justify-content: flex-start;
}

.align--start {
  align-items: flex-start;
}

.justify--end {
  justify-content: flex-end;
}

.align--end {
  align-items: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.align--between {
  align-items: space-between;
}

.justify--around {
  justify-content: space-around;
}

.align--around {
  align-items: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 9px -7px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 1200px) {
  .header {
    box-shadow: unset;
  }
  .header .container {
    padding: 0 1.5rem;
  }
}
.header__group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom {
  position: absolute;
  top: 7.1rem;
  left: -100rem;
  width: 28rem;
  height: 100vh;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  box-shadow: inset 0px 2px 9px -7px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 1200px) {
  .header__bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: unset;
    width: unset;
    height: unset;
    flex-direction: row-reverse;
    background-color: #162e44;
    z-index: 2;
  }
  .header__bottom::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #162e44;
    z-index: -3;
  }
  .header__bottom::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: #162e44;
    z-index: -3;
  }
}
.header__bottom__toggle {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .header__bottom__toggle {
    display: none;
  }
}
.header__bottom__toggle span {
  display: block;
  width: 3rem;
  height: 0.3rem;
  margin: 0.8rem;
  border-radius: 3rem;
  background-color: #000;
  transition: 0.5s ease-in-out;
}
.header__bottom__toggle.open span:first-child {
  width: 50%;
  transform: translate(-2px, 1.6rem) rotate(210deg);
}
.header__bottom__toggle.open span:nth-child(2) {
  transform: rotate(180deg);
}
.header__bottom__toggle.open span:last-child {
  width: 50%;
  transform: translate(-2px, -1.6rem) rotate(150deg);
}
.header__bottom__nav {
  height: calc(100vh - 13.5rem);
  overflow-y: auto;
}
@media screen and (min-width: 1200px) {
  .header__bottom__nav {
    height: unset;
    overflow-y: unset;
  }
}
@media screen and (min-width: 1200px) {
  .header__bottom__nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }
}
.header__bottom__nav ul li {
  margin: 0.5rem 0;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .header__bottom__nav ul li {
    margin: unset;
    height: 100%;
  }
  .header__bottom__nav ul li span a {
    border-top: 4px solid transparent;
    color: #fff;
    padding: 2rem;
  }
  .header__bottom__nav ul li span i {
    display: none;
  }
}
.header__bottom__nav ul li span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .header__bottom__nav ul li span {
    padding: unset;
  }
}
.header__bottom__nav ul li span a {
  width: 100%;
}
.header__bottom__nav ul li span i:hover,
.header__bottom__nav ul li span i.active {
  color: #fff;
}
.header__bottom__nav ul li.active {
  background-color: #01b3a7;
}
.header__bottom__nav ul li.active a {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .header__bottom__nav ul li.active {
    background-color: #1c3b57;
  }
  .header__bottom__nav ul li.active a {
    border-top: 4px solid #01b3a7;
  }
}
@media screen and (min-width: 1200px) {
  .header__bottom__nav ul li:hover {
    background-color: #1c3b57;
  }
  .header__bottom__nav ul li:hover a {
    border-top: 4px solid #01b3a7;
  }
}
.header__bottom__nav.open {
  left: 0;
}
.header__bottom__icons ul {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  border-bottom: 2px solid #f4f4f4;
  gap: 2rem;
}
@media screen and (min-width: 1200px) {
  .header__bottom__icons ul {
    border-bottom: unset;
    height: 100%;
    align-items: center;
  }
  .header__bottom__icons ul li a {
    color: #fff;
  }
}
.header__bottom__icons ul li a {
  font-size: 1.8rem;
}
.header__bottom__icons ul li a:hover {
  color: #01b3a7;
  transition: 0.5s ease-in-out;
}
.header__bottom.open {
  left: 0;
}
.header__contact {
  position: absolute;
  right: 0;
  top: 9rem;
  background-color: #fff;
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
  box-shadow: inset 0px 2px 9px -7px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 1200px) {
  .header__contact {
    position: unset;
    visibility: visible;
    opacity: 1;
    box-shadow: unset;
    display: flex;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact__item {
    display: flex;
    align-items: center;
    position: relative;
  }
  .header__contact__item p {
    align-items: center;
  }
  .header__contact__item::before {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 2rem;
    background-color: #f4f4f4;
    left: 50%;
    transform: translateX(1.8rem);
  }
}
@media screen and (min-width: 1200px) {
  .header__contact__item ul {
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
    top: 0;
    left: 0;
  }
}
.header__contact__item ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 1200px) {
  .header__contact__item ul li {
    padding: 0 1rem;
  }
}
.header__contact__item ul li small {
  font-size: 1.4rem;
}
.header__contact__item ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__contact__item ul li a small:hover {
  color: #01b3a7;
  transition: 0.5s ease-in-out;
}
.header__contact__item ul li i {
  font-size: 1.8rem;
  color: #01b3a7;
}
.header__contact a {
  width: 100%;
  text-align: center;
}
.header__contact__toggle {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .header__contact__toggle {
    display: none;
  }
}
.header__contact__toggle span {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: #000;
  transition: 0.5s ease-in-out;
}
.header__contact__toggle.open span {
  transform: scale(0.8);
}
.header__contact__toggle.open span:first-child {
  transform: translateY(2rem) scale(0.8);
}
.header__contact__toggle.open span:last-child {
  transform: translateY(-2rem) scale(0.8);
}
.header__contact.open {
  top: 7.1rem;
  visibility: visible;
  opacity: 1;
}
.header__toggle__item {
  position: relative;
}
.header__toggle__item .content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.header__toggle__item .content.open {
  max-height: 100rem;
}
@media screen and (min-width: 1200px) {
  .header__toggle__item .content {
    visibility: hidden;
    width: 40rem;
    display: none;
  }
}
.header__toggle__item .content h4 {
  margin: 0 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #f4f4f4;
  color: #01b3a7;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}
@media screen and (min-width: 1200px) {
  .header__toggle__item .content ul {
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    padding: 1rem 0;
    width: 100%;
  }
}
.header__toggle__item .content ul li {
  padding: 1rem 4rem;
  width: 100%;
  cursor: pointer;
}
.header__toggle__item .content ul li a {
  color: #000;
}
.header__toggle__item .content ul li:hover {
  background-color: #01b3a7;
}
.header__toggle__item .content ul li:hover a {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .header__toggle__item .content ul li {
    padding: unset;
    margin: 1rem 2rem;
  }
  .header__toggle__item .content ul li:hover {
    background-color: unset;
  }
  .header__toggle__item .content ul li:hover a {
    color: unset;
    transition: 0.5s ease-in-out;
    border-left: 4px solid #01b3a7;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__toggle__item:hover .content {
    display: block;
    visibility: visible;
    position: absolute;
    max-height: 100rem;
    max-width: 40rem;
    background-color: #fff;
  }
  .header__toggle__item:hover .content ul {
    width: 100%;
  }
  .header__toggle__item:hover .content ul li a {
    border-top: unset;
  }
}
.header__toggle__item.active {
  transition: 0.5s ease-in-out;
}
.header__toggle__item.active span {
  background-color: #01b3a7;
}
.header__toggle__item.active span a {
  color: #fff;
}
.header__toggle__item span i {
  transition: 0.5s ease-in-out;
}
.header__toggle__item span i.active {
  transform: rotate(180deg);
}

body {
  background-color: red;
}

.btn {
  padding: 1.5rem 2rem;
  display: inline-block;
  border: 3px solid transparent;
}

.btn--outline {
  border: 3px solid #01b3a7;
  position: relative;
  font-size: 1.8rem;
  z-index: 1;
}
.btn--outline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}
.btn--outline:hover::after {
  background-color: #01b3a7;
  transform: scaleX(1);
  transform-origin: center;
}
.btn--outline:hover {
  color: #fff;
}/*# sourceMappingURL=main.css.map */