.banner {
  width: 100%;
  @include mediaQueryMin($desktop) {
    padding-top: 16.5rem;
  }
  .tns-controls {
    display: none;
  }
  .tns-nav {
    display: none;
  }
  button[data-action="stop"] {
    display: none;
  }
  &__content {
    height: 100vh;
    display: flex;
    align-items: center;
    @include mediaQueryMin($desktop) {
      height: 100%;
    }
    &__img {
      & {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        height: 100vh;
        width: 100%;
        @include mediaQueryMin($desktop) {
          height: 70vh;
        }
        & h2,
        & h3 {
          color: $clr-light;
        }
        & h3 {
          text-transform: uppercase;
          font-weight: normal;
          @include mediaQueryMin($desktop) {
            font-size: 1.7rem;
          }
        }
        & h2 {
          font-size: 5rem;
          font-weight: normal;
          @include mediaQueryMin($desktop) {
            font-size: 7rem;
          }
          span {
            color: $clr-light;
            font-weight: 900;
          }
        }
        a {
          border: 2px solid $clr-light;
          color: $clr-light;
          &:hover {
            border: 2px solid $clr-primary;
          }
        }
      }
    }
  }
  &__wrapper {
    .banner__content {
      &:nth-child(2) {
        .banner__content__img {
          background-image: url("../dist/img/banner1.jpg");
        }
      }
      &:nth-child(3) {
        .banner__content__img {
          background-image: url("../dist/img/banner2.jpg");
        }
      }
      &:nth-child(4) {
        .banner__content__img {
          background-image: url("../dist/img/banner3.jpg");
        }
      }
    }
  }
}

.tours {
  background-color: $clr-gray;
  @include mediaQueryMin($desktop) {
    margin-top: -6rem;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    @include mediaQueryMin($desktop) {
      flex-direction: row;
    }
  }
  &__item {
    height: max-content;
    width: 80%;
    height: 41rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.1);
    }
    h4 {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.2rem;
      font-weight: 600;
      color: $clr-light;
    }
  }

  & .container:last-child a {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    h5 {
      font-size: 1.8rem;
      font-weight: normal;
    }
    span {
      display: block;
      width: 2.3rem;
      height: 0.2rem;
      right: 0;
      background-color: $clr-dark;
      position: relative;
      transition: 0.5s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        right: -5px;
        bottom: -0.2rem;
        border-style: solid;
        border-width: 3px 0px 3px 6px;
        border-color: transparent transparent transparent $clr-dark;
      }
    }
    &:hover span {
      width: 4rem;
    }
  }
}
