.header {
  background-color: $clr-light;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 9px -7px rgba(0, 0, 0, 0.4);
  @include mediaQueryMin($desktop) {
    box-shadow: unset;
    .container {
      padding: 0 1.5rem;
    }
  }
  &__group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom {
    position: absolute;
    top: 7.1rem;
    left: -100rem;
    width: 28rem;
    height: 100vh;
    background-color: $clr-light;
    transition: 0.5s ease-in-out;
    box-shadow: inset 0px 2px 9px -7px rgba(0, 0, 0, 0.4);
    @include mediaQueryMin($desktop) {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 0;
      left: 0;
      box-shadow: unset;
      width: unset;
      height: unset;
      flex-direction: row-reverse;
      background-color: $clr-dark-secondary;
      z-index: 2;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: $clr-dark-secondary;
        z-index: -3;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        width: 100vw;
        height: 100%;
        background-color: $clr-dark-secondary;
        z-index: -3;
      }
    }
    &__toggle {
      cursor: pointer;
      @include mediaQueryMin($desktop) {
        display: none;
      }
      & span {
        display: block;
        width: 3rem;
        height: 0.3rem;
        margin: 0.8rem;
        border-radius: 3rem;
        background-color: $clr-dark;
        transition: 0.5s ease-in-out;
      }
      &.open {
        & span:first-child {
          width: 50%;
          transform: translate(-2px, 1.6rem) rotate(210deg);
        }
        & span:nth-child(2) {
          transform: rotate(180deg);
        }
        & span:last-child {
          width: 50%;
          transform: translate(-2px, -1.6rem) rotate(150deg);
        }
      }
    }

    &__nav {
      height: calc(100vh - 13.5rem);
      overflow-y: auto;
      @include mediaQueryMin($desktop) {
        height: unset;
        overflow-y: unset;
      }
      ul {
        @include mediaQueryMin($desktop) {
          display: flex;
          align-items: center;
          gap: 2rem;
          height: 100%;
        }
        li {
          margin: 0.5rem 0;
          transition: 0.5s ease-in-out;
          @include mediaQueryMin($desktop) {
            & {
              margin: unset;
              height: 100%;
              span {
                a {
                  border-top: 4px solid transparent;
                  color: $clr-light;
                  padding: 2rem;
                }
                i {
                  display: none;
                }
              }
            }
          }
          span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            cursor: pointer;
            @include mediaQueryMin($desktop) {
              padding: unset;
            }
            a {
              width: 100%;
            }
            i:hover,
            i.active {
              color: $clr-light;
            }
          }
          &.active {
            background-color: $clr-primary;
            a {
              color: $clr-light;
            }
            @include mediaQueryMin($desktop) {
              background-color: lighten($clr-dark-secondary, 5);
              a {
                border-top: 4px solid $clr-primary;
              }
            }
          }
          @include mediaQueryMin($desktop) {
            &:hover {
              background-color: lighten($clr-dark-secondary, 5);
              a {
                border-top: 4px solid $clr-primary;
              }
            }
          }
        }
      }
      &.open {
        left: 0;
      }
    }
    &__icons {
      & ul {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        border-bottom: 2px solid $clr-gray;
        gap: 2rem;
        @include mediaQueryMin($desktop) {
          border-bottom: unset;
          height: 100%;
          align-items: center;
          li {
            a {
              color: $clr-light;
            }
          }
        }
        li {
          a {
            font-size: 1.8rem;
            &:hover {
              color: $clr-primary;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
    }
    &.open {
      left: 0;
    }
  }
  &__contact {
    position: absolute;
    right: 0;
    top: 9rem;
    background-color: $clr-light;
    padding: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    box-shadow: inset 0px 2px 9px -7px rgba(0, 0, 0, 0.4);
    @include mediaQueryMin($desktop) {
      position: unset;
      visibility: visible;
      opacity: 1;
      box-shadow: unset;
      display: flex;
      padding: 2rem 0;
    }
    &__item {
      @include mediaQueryMin($desktop) {
        display: flex;
        align-items: center;
        position: relative;
        p {
          align-items: center;
        }
        &::before {
          content: "";
          position: absolute;
          width: 0.2rem;
          height: 2rem;
          background-color: $clr-gray;
          left: 50%;
          transform: translateX(1.8rem);
        }
      }

      ul {
        @include mediaQueryMin($desktop) {
          display: flex;
          justify-content: space-evenly;
          width: 50rem;
          top: 0;
          left: 0;
        }
        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          @include mediaQueryMin($desktop) {
            padding: 0 1rem;
          }
          small {
            font-size: 1.4rem;
          }
          a {
            display: flex;
            align-items: center;
            gap: 1rem;
            small:hover {
              color: $clr-primary;
              transition: 0.5s ease-in-out;
            }
          }

          i {
            font-size: 1.8rem;
            color: $clr-primary;
          }
        }
      }
    }
    & a {
      width: 100%;
      text-align: center;
    }
    &__toggle {
      cursor: pointer;
      @include mediaQueryMin($desktop) {
        display: none;
      }
      span {
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        margin: 0.2rem;
        border-radius: 50%;
        background-color: $clr-dark;
        transition: 0.5s ease-in-out;
      }
      &.open span {
        & {
          transform: scale(0.8);
        }
        &:first-child {
          transform: translateY(2rem) scale(0.8);
        }
        &:last-child {
          transform: translateY(-2rem) scale(0.8);
        }
      }
    }
    &.open {
      top: 7.1rem;
      visibility: visible;
      opacity: 1;
    }
  }
  &__toggle {
    &__item {
      position: relative;
      & .content {
        max-height: 0;
        overflow: hidden;
        background-color: $clr-light;
        transition: 0.5s ease-in-out;
        &.open {
          max-height: 100rem;
        }
        @include mediaQueryMin($desktop) {
          visibility: hidden;
          width: 40rem;
          display: none;
        }
        &__item {
          &:last-child {
            display: none;
          }
        }
        h4 {
          margin: 0 2rem;
          padding: 1rem 0;
          border-bottom: 1px solid $clr-gray;
          color: $clr-primary;
          font-size: 2rem;
          letter-spacing: 0.3rem;
          @include mediaQueryMin($desktop) {
            border-bottom: unset;
            color: $clr-dark;
            font-weight: normal;
            font-size: 2.5rem;
            padding: 0 0 1rem 0;
            margin: unset;
          }
        }
        ul {
          @include mediaQueryMin($desktop) {
            background-color: $clr-light;
            flex-direction: column;
            align-items: start;
            padding: 1rem 0;
            width: 100%;
          }
          li {
            padding: 1rem 4rem;
            width: 100%;
            cursor: pointer;
            a {
              color: $clr-dark;
            }
            &:hover {
              background-color: $clr-primary;
              a {
                color: $clr-light;
              }
            }
            @include mediaQueryMin($desktop) {
              padding: unset;

              margin: 1rem 2rem;

              &:hover {
                background-color: unset;
                a {
                  color: unset;
                  transition: 0.5s ease-in-out;
                  border-left: 4px solid $clr-primary;
                  padding-left: 2rem;
                }
              }
            }
          }
        }
      }
      @include mediaQueryMin($desktop) {
        &:hover {
          & .content {
            display: block;
            visibility: visible;
            position: absolute;
            max-height: 150rem;
            max-width: 40rem;
            background-color: $clr-light;
            ul {
              width: 100%;
              li {
                a {
                  border-top: unset;
                }
              }
            }
          }
          &:last-child {
            & .content {
              position: absolute;
              left: -68.3rem;
              max-width: 150rem;
              width: 117.1rem;
              height: fit-content;
              padding: 4rem 0;
              & ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 35rem;
                padding: 0;
                gap: 0;
                li {
                  padding: 0.5rem 0;
                  margin: 0;
                  a {
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
          & .content {
            &__wrapper {
              display: flex;
              border-right: 3px solid $clr-gray;
            }
            &__item {
              padding: 2rem;
              height: 100%;
              &:not(:last-child) {
                border-right: 2px solid $clr-gray;
              }
              &:last-child {
                display: block;
              }
            }
          }
        }
      }
      &.active {
        transition: 0.5s ease-in-out;
        & span {
          background-color: $clr-primary;
          & a {
            color: $clr-light;
          }
        }
      }
      span {
        & i {
          transition: 0.5s ease-in-out;
          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

body {
  background-color: red;
}
